table { 
    margin: 60px 0 0 100px;
}
table tr .portrait{
    row-span:8;
    padding-right: 60px;
    width: 160px;
}
table tr td{
    padding-right: 20px;
    padding-top: 15px;
    color: #585858;
    width: 80px;
    text-align: right;
}
table tr .portrait img{
    border-radius: 50%;
    height: 160px;
    width: 160px;
/*    margin-top: -40px;
*/}
table  th{
    color: #272727;
    padding-top: 15px;
}
table td{
    font-size:12px;
}
label{
    font-size: 12px;
    line-height: 16px;
    height: 16px;
}
.button{
    margin-top: 30px;
    margin-left: 45%;
}

input[type=text]{
    padding-left: 10px;
    width: 200px;
    height: 30px;
    font-size: 12px;
}


select{
    padding-left: 10px;
    width:200px;
    height:30px;
}
.modify_img{
    margin-top: 10px;
    margin-right: 30px;
    

}


#img_info_btn{
    align-content: center;
}

._img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    align-items:center;
   
}

.img_btn{
    width: 80px;
    height: 30px;
    margin-right: 40px;
    margin-left: 40px;
}


