body{font-size: 12px; color: #333;}
.w1200{width: 1200px; position: relative;}
.w1000{width: 1000px;}
.w990{width: 990px;}
a{color:#333;text-decoration:none;}
a:hover{color: #E4393C; text-decoration: underline;}
.ellipsis{overflow:hidden;text-overflow:ellipsis; -o-text-overflow:ellipsis;white-space:nowrap;width:100%};
