table{
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}

tr{
	line-height: 70px;
}
td {
	height: auto;
}

.key{
	font-size: 18px;
	text-align: right;

}

.input_text{
	padding-left: 1rem;
	height: 40px;
	width: 300px;
	border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 15px;

}



.button{
	margin-left: 45%;
	margin-top: 10px;
}
