<extend name="Public/base"/>
<block name="body">
    <div class="tw-layout">
        <!-- 标题框 -->
        <div class="tw-list-hd">
            地区列表
        </div>
        <div class="tw-list-top">
            <!--添加地区-->
            <form class="form-horizontal" action="" method="post">
                <div class="tw-tool-bar">
                    <div class="input-group">
                        <input type="text" id="region_name" name="name" class="form-control" placeholder="请输入省级行政单位名称，多个用顿号(、)隔开" style="width: 350px;height: 32px">
                        &nbsp;
                        <a class="btn btn-primary" onclick="add_region()">添加</a>
                    </div>
                </div>
            </form>
            <form action="" method="post" id='search_form'>
                <div class="tw-search-bar">
                    <div class="search-form fr cf">

                        <div class="sleft" style="border: 1px solid #c7c3c3;">
                            <input type="text" name="keyword" class="search-input" value="<{$keyword}>" placeholder="输入当前等级区域名称">
                        </div>
                        <div class="form-group">
                            <a onclick="ajax_get_table('search_form',1, 'Region', 'list_region')" class="tw-search-bar-btn">
                                <i class="tw-icon-search"></i> 搜索
                            </a>
                            <button class="tw-search-clear-btn" type="button">
                                <i class="tw-icon-minus-circle"></i> 清空
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="ajax_return"></div>
    </div>
    <script type="text/javascript">

        $(document).ready(function () {
            // ajax 加载列表
            ajax_get_table('search_form', 1, 'Region', 'list_region');
        });

        // 批量添加区域
        function add_region() {
            var region_name = $("#region_name").val();
            var parent_id = -1; // 为了区分添加顶级区域
            var level = 0;

            $.ajax({
                url: "/index.php/Admin/Region/add/name/" + region_name + "/parent_id/" + parent_id + "/level/" + level,
                success: function (data) {
                    if (data.status == 1) {
                        layer.msg(data.info, {icon: 1, time: 1000});
                        document.getElementById("region_name").value="";
                        // 使用ajax无刷新删除
                        ajax_get_table('search_form', cur_page, 'Region', 'list_region');
                    } else {
                        layer.msg(data.info, {icon: 2, time: 1000});
                    }

                }
            });
            return false;
        }

    </script>
</block>